@model QL_TraiCay.Models.GioHang
@{
   
    Layout = "~/Views/Shared/_Layout11.cshtml";
}

@using QL_TraiCay.Models;
@if (@Model == null)
{
    <div class="container m-3">
        <h2 class="text-center text-success">Bạn hãy chọn sản phẩm </h2>
        <a href="/Home/Index" class="btn btn-success">Mua hàng tiếp</a>
    </div>

}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Nền tảng - Kiến thức cơ bản về WEB | Bảng tin</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css" type="text/css">
        <!-- Font awesome -->
        <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css" type="text/css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

        <!-- Custom css - Các file css do chúng ta tự viết -->
        <link rel="stylesheet" href="../assets/css/app.css" type="text/css">
    </head>

    <body class="">
        <!-- header -->
        <!-- end header -->

        <main role="main">
            <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
            <div class="container mt-4">
                <div id="thongbao" class="alert alert-danger d-none face" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <h1 class="text-center text-success">Giỏ hàng</h1>
                <div class="row">
                    <div class="col col-md-12">
                        <table class="table table-bordered">
                            <thead class="table-success">
                                <tr>

                                    <th>Ảnh</th>
                                    <th>Tên Trái Cây</th>
                                    <th>Số lượng</th>
                                    <th>Mã Sản Phẩm</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="datarow">
                                @foreach (Cartitem item in @Model.Ds)
                                {
                                    if (item.iSoLuong > 0)
                                    {
                                        <tr>
                                            <td><img src="~/Images/@item.sAnh" width="120" height="80" /></td>
                                            <td>@item.sTenSP</td>
                                            <td>@item.iSoLuong</td>
                                            <td>@item.iMaSP</td>


                                            <td>@string.Format("{0:#,### VNĐ}", @item.dDonGia)</td>
                                            <td>@string.Format("{0:#,### VNĐ}", @item.ThanhTien)</td>



                                            <td>
                                                <a class="btn btn-success" href="/GioHang/AddSL/@item.iMaSP"> Thêm</a>
                                                <a class="btn btn-danger" href="/GioHang/xoa/@item.iMaSP"> Xoá</a>
                                            </td>

                                        </tr>
                                    }
                                }

                            </tbody>
                            <tr>
                                <th></th>

                                <td></td>
                                <th>@Model.TongSLHang()</th>
                                <td></td>
                                <th></th>
                                <th>@string.Format("{0:#,### VNĐ}", Model.TongThanhTien())</th>
                                <th>
                                    <a href="checkout.html" class="btn btn-primary btn-md">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;Thanh toán
                                    </a>
                                </th>

                            </tr>
                        </table>

                        <a href="/Home/Index" class="btn btn-warning btn-md">
                            <i class="fa fa-arrow-left"
                               aria-hidden="true"></i>&nbsp;Quay
                            về trang chủ
                        </a>

                    </div>
                </div>
            </div>
            <!-- End block content -->
        </main>

        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/popperjs/popper.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Custom script - Các file js do mình tự viết -->
        <script src="../assets/js/app.js"></script>

    </body>

    </html>
}
